h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#9A073C; } 
a:visited { color:#9A073C; } 
a:active { color:#0B245B; } 
a:hover { color:#0B245B; } 
html, body { min-height: 100% } 
#menu_5367cd03 a { text-decoration: none; }
#menu_5367cd03_pane { background-color: #F9FAF5; border: 1px solid #E1E0E0; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5367cd03_hr { background-color: #E1E0E0; height: 1px; border: none; }
#menu_5367cd03_entry { padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; }
#menu_5367cd03_entry:hover { background-color: #9A073C; color: #FFFFFF !important; }
#menu_5367cd03_entry:hover span { color:#FFFFFF !important; }
		.menu_5367cd03_mainMenuEntry { text-align: center; }
		.menu_5367cd03_mainMenuEntry:hover {	background-color:#0B245B; }
		.menu_5367cd03_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_5367cd03 .mobileEntry { display: none; } 
		#menu_5367cd03 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_5367cd03 .mobileEntry { display: block; } 
			#menu_5367cd03 .normalEntry { display: none; } 
		}
body { background-color:#F9FAF5; background: linear-gradient(to bottom, #E1E0E0, #F9FAF5); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_6848ba0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:900px; background:none;  }
#container_489b3d8 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:100%; max-width:960px; background-color:#F9FAF5; background-image: url(rc_images/background.jpg); background-position:top left; background-size:cover;  }
#container_489b3d8_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_50443472 { vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:30%; min-height:15px; background:none;  }
#container_50443472_padding { margin: 10px; display: block;  }
#img_19c14bed { vertical-align: bottom; position:relative; display: inline-block; width:65%; background:none; height:auto;  }
.textstyle3 { font-size:18pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px rgba(37, 36, 34, 0.196078);  }
#container_71742726 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:54px; background:none;  }
#container_71742726_padding { margin: 10px; display: block;  }
.textstyle4 { text-align:right; }
#menu_5367cd03 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:75%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #E1E0E0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:62px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:62px; height:38px; left:72px;  }
.menustyle4 { position:absolute; width:107px; height:38px; left:134px;  }
.menustyle5 { position:absolute; width:119px; height:38px; left:241px;  }
.menustyle6 { position:absolute; width:75px; height:38px; left:360px;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#heading_8884fa5 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle8 { text-align:left;display: block }
.textstyle9 { font-size:24pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px rgba(37, 36, 34, 0.196078);  }
.textstyle10 { font-size:18pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_569c0aec { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F9FAF5;  }
#container_569c0aec_padding { margin: 10px; display: block;  }
#heading_5be0ad15 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#9A073C; text-align:left;  }
#heading_5b22c42e { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#0B245B; text-align:left;  }
#text_52599920 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none;  }
.olstyle1 { margin:0; font-size: 12pt; color:#000000;  }
#container_470f685c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F9FAF5;  }
#container_470f685c_padding { margin: 10px; display: block;  }
#heading_14975328 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#0B245B; text-align:left;  }
#container_4b20ee87 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F9FAF5;  }
#container_4b20ee87_padding { margin: 10px; display: block;  }
#heading_72c322f3 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#0B245B; text-align:left;  }
#container_ff2f822 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F9FAF5;  }
#container_ff2f822_padding { margin: 10px; display: block;  }
#heading_62235907 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#0B245B; text-align:left;  }
#container_65c1df42 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F9FAF5;  }
#container_65c1df42_padding { margin: 10px; display: block;  }
#heading_5d3bdaa { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#0B245B; text-align:left;  }
#heading_25f46253 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#0B245B; text-align:left;  }
#container_7d022765 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:100%; min-height:37px; max-width:950px; background-color:#9A073C; background-image: url(rc_images/background.jpg); background-position:top left; background-size:cover;  }
#container_7d022765_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; line-height: 1.5; text-shadow: 2px 2px 2px #C0C0C0;  }
